.header {
            background-color: #7ce37e;
            color: rgb(253, 246, 246);
            display :flex;
            justify-content : space-between;
            padding: 10px;                                                              
        }
.footer {
    background-color: silver;
        }
*{
    margin:0px;
}
.menu{
    display : flex;
}
.menu li{
    list-style : none;
    margin : 5px;
}
.menu li a{
    text-decoration : none;
    color : white;
}