.header {
            background-color: #7ce37e;
            color: rgb(253, 246, 246);
            display :flex;
        }
.footer {
    background-color: silver;
        }
*{
    margin:0px;
}
.menu{
    display : flex;
}
